html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color : #f5f5f5;
}

#main {
    display: flex;
    height: 100vh;
}

#layout {
    display: flex;
    flex-direction: column;
    flex: 3;
}

#map {
    flex: 7;
}

#chart-container {
    flex: 3;
}

#gpx-info {
    flex: 1;
}

#weather {
    padding: 20px;
    background: #f5f5f5;
}

#weather-header {
    margin-top: -20px;
    font-size: 20px;
}

#poles-header {
    margin-top: -20px;
    font-size: 20px;
}

#poles {
    padding: 20px;
}

#poles p {
    margin-top: -12px;
}

#stats {
    padding: 20px;
    background: #f5f5f5;

}
#stats p {
    margin: 5px 0;
    font-size: 16px;
}

.line {
    width: 95%;
}
