html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0; 
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  max-height: 100vh;
  width: 100%;
  gap: 10px;
}


.map-section {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 10px;
}


.inputs {
  flex: 1;           
  background: #f0f0f0;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 15px;
}

.weather-section {
  flex: 14.5;          
  background: #f5f5f5;
  border: 1px solid #444;
  overflow-y: auto;
}

.trekking-section {
  flex: 5;           
  background: #f0f0f0;
  border: 1px solid #444;
  overflow-y: auto;
}

.poles-score {
  font-size: 16px;
  font-weight: 600;
}