html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0; 
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background: #1C2028;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  gap: 10px;
  padding: 10px;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  max-height: 100vh;
  width: 100%;
  gap: 10px;
}


.map-section {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 10px;
}


.inputs {
  flex: 10;           
  background: #252B37;
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding: 15px 40px 15px 40px;
  justify-content: space-between;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.35);
}

input {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
}


input::file-selector-button {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1vh;
}

input[type="file"] {
  display: none;
}

.input-file {
  background: radial-gradient(
      closest-side,
      rgba(37, 43, 55, 0) 0%,
      rgba(37, 43, 55, 0.25) 100%
    ),
    linear-gradient(to left, #515f7b, #515f7b);
    border-radius: 9px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    box-shadow: inset -4px -4px 15px 0px rgba(0, 0, 0, 0.35),
    4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    font-family: "Raleway";
}



#date {
  background: radial-gradient(
      closest-side,
      rgba(37, 43, 55, 0) 0%,
      rgba(37, 43, 55, 0.25) 100%
    ),
    linear-gradient(to left, #515f7b, #515f7b);
    
    border-radius: 9px;
    padding: 5px 20px 5px 20px;
    height: 40px;
    box-shadow: inset -4px -4px 15px 0px rgba(0, 0, 0, 0.35),
    4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Raleway";
}


input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../public/icons/calendar.svg");
  background-size: cover;
  cursor: pointer;
}

.weather-section {
  flex: 65;     
  background: #252B37;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.35);
}

.trekking-section {
  flex: 25;          
  background: #252B37;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.35);
}

.poles-score {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(95%);
}

