html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color : #f5f5f5;
}
#map {
    height: 45%;
    width: 100%;
}
#stats {
    padding: 10px;
    background: #f5f5f5;

}
#stats p {
    margin: 5px 0;
    font-size: 12px;
}
#chart-container {
    height: 30%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#gpx-info {
    display: flex;
    flex-direction: row;
}

#weather {
    padding: 10px;
    background: #f5f5f5;
}
