<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>GPX Viewer with Track Stats</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
<div id="main">

<div id="layout">
    <div id="map"></div>
    <div id="chart-container">
      <canvas id="elevationChart"></canvas>
    </div>
</div>

<div id="gpx-info">

<div id="stats">
    <p id="total-distance">Total Distance:</p>
    <p id="total-ascent">Total Ascent:</p>
    <p id="total-descent">Total Descent:</p>
    <p id="min-elevation">Min Elevation:</p>
    <p id="max-elevation">Max Elevation:</p>
    <p id="avg-slope">Average Slope:</p>
    <input type="file" id="route" accept=".gpx">
    <input type="date" id="input-date">
</div>
    <hr class="line">
<div id="weather">
  <h3 id="weather-header">Weather</h3>
  <p id="weather-summary">Loading…</p>
  <ul id="weather-list"></ul>
</div>
    <hr class="line">
<div id="poles">
  <h3 id="poles-header">Trekking Poles</h3>
    <p id="poles-recommendation">Loading…</p>
</div>

</div>

</div>



<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gpx-parse@0.10.4/dist/gpx-parse-browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="../static/js/script.js" type="module"></script>

</body>
</html>
